<body>https://github.com/Tharoon-Veerasethu/Predictor_fish_weight
{% extends 'layout.html' %}
{% block title %}
Lets try finding the weights!
{% endblock %}
{% block content %}
<div class="container-fluid pd2">
    {% if prediction %}
        <div class="row justify-content-md-center mb-4">
            <h3 class='text-primary'>The predicted weight is {{ prediction[0] }} gram</h3>
        </div>
    {% endif %}
    <form class="form-horizontal" action = "{{ url_for('predict') }}" method="post">
        <div class="row">
            <div class="col-md-12">
          
                <div>
                    <div class="form-group">
                        <h4>Enter the Attributes of the fish</h4>
                    </div>
                    <div class="form-group">
                        <label for="length1">Diagnol length(in cm)</label>
                        <input type="number" min=7 max=60 class="form-control" id="length1" name="length1" placeholder="Enter input 1 diagnol length(in cm)">
                    </div>
                    <div class="form-group">
                        <label for="length2">Vertical Length(in cm)</label>
                        <input type="number" min=8 max=64  class="form-control" id="length2" name="length2" placeholder="Enter input 2 verticl length(in cm)">
                    </div>
                    <div class="form-group">
                        <label for="length3">Cross Length(in cm)</label>
                        <input type="number" min=8 max=68 class="form-control" id="length3" name="length3" placeholder="Enter input 3 cross length(in cm)">
                    </div>
                    <div class="form-group">
                        <label for="height">Height (in cm)</label>
                        <input type="number" min=1 max=20 class="form-control" id="height"  name="height" placeholder="Enter input 4 height (in cm)">
                    </div>
                    <div class="form-group">
                        <label for="width">Width (in cm)</label>
                        <input type="number" min=1 max=9 class="form-control" id="width"  name="width" placeholder="Enter input 5 width (in cm)">
                    </div>
                </div> 
                <button type="submit" class="btn btn-success">
                    Predict the Weight!
                </button>
            </div>
        </div>
    </form>
</div>
<body>
{% endblock %}
