<h2>AI FISH WEIGHT PREDICTOR</h2>

<html>
    <head>
        <title> {% block title %}  {% endblock %} </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <style> 
    body 
        {
        background-image: url("https://github.com/Tharoon-Veerasethu/Predictor_fish_weight/templates/img_fish.png");
        background-color: #ccfhfhfh;
        }
</style>
    <body background='img_fish.png'>
        {% block content %}
        {% endblock %}
    </body>
</html>
