<h2>AI FISH WEIGHT PREDICTOR</h2>

<html>
    <head>
        <title> {% block title %}  {% endblock %} </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <style> 
    body 
        {
        background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fcliparting.com%2Ffree-cartoon-fish-44070%2F&psig=AOvVaw2hT5EY5d8UaHctoVeLcytK&ust=1629032854148000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCICVstrJsPICFQAAAAAdAAAAABAJ");
        background-color: #ccfhfhfh;
        }
</style>
    <body background='img_fish.png'>
        {% block content %}
        {% endblock %}
    </body>
</html>
